<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="taskDao" class="ru.otus.spring.dao.TaskDaoCsv">
        <constructor-arg index="0" name="resource" value="tests.csv"/>
        <constructor-arg index="1" name="delimiter" value=";"/>
    </bean>

    <bean id="taskServiceImp" name="testService" class="ru.otus.spring.service.TaskServiceImpl">
        <constructor-arg ref="taskDao"/>
    </bean>

    <bean id="consoleServiceImpl" name="consoleService" class="ru.otus.spring.service.ConsoleServiceImpl">
        <constructor-arg type="java.io.PrintStream">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

</beans>
